body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(221, 232, 232, 0.2);
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  padding-right: 0%;
  padding-left: 0%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #1a0a04;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 1.5em;
  border: none;
  border-radius: 8px;
  background-color: #444444;
  color: #80deea;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #17e880;
}

#b1 {
    color: yellow;
}

#b2 {
    background-color: black;
    color: white;
    
}

#b3 {
    color: white;
    background-color: red;
    
}

#b3:hover {
    background-color: yellow;
}